<!-- <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('pages.home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('posts.posts') }}">June's Spotlight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages.about') }}">About</a>
        </li>
        <li class="nav-item" hidden>
          <a class="nav-link" href="{{ url_for('posts.create') }}">Leave a Feedback</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->