{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST">  
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline" type="submit">Login</button>
            <input type="hidden" name="next" value="{% url 'dashboard' %}" />
            <small class="text-muted ml-2">
            </small>
        </div>
    </form>
    <div class="border-top pt-3"
        <small class="text-muted">
            Need an account? <a class="ml-2" href="{% url 'sign_up' %}">Sign Up Now</a>
        </small>
        <p>
            <a href="{% url 'dashboard' %}">Back to dashboard</a>
            <a href="{% url 'password_reset' %}">Change password</a>
        </p>
    </div>
</div>
{% endblock content %}